.background {
  text-align: left;
  margin-top: 20px;
  padding-top: 80px;
}

.helloText {
  font-size: 12vw;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  /* color: #fff; */
  color: #2b2b2b;
}

.paragraph {
  padding: 20px;
  width: 50vh;
  height: 100px;
  font-size: 1.31rem;
  /* color: whitesmoke; */
  color: #747474;
  font-family: 'Lora', serif;
}

.color {
  color:tan;
}